body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.main-container {
    margin: 0 10%;
    position: relative;
    height: 500px;
}

.block {
    background: rgb(240, 240, 240);
    height: 25px;
    position: relative;
    padding: 5px 10px;
}

.block a {
    font-size: 17px;
}

select {
    float: right;
    margin: 0 10;
}

.brand {
    position: relative;
    float: left;
    height: 500;
    width: 200px;
    background-color: goldenrod;
}

.product-container {
    float: right;
    margin: auto;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;
}